@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf0e6;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 350px 80px;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.item {
  background: #b9b4c7;
  border: 3px solid #352f44;
  color: #faf0e6;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.logo {
  grid-column: span 6;
}

h1 {
  text-align: center;
  font-family: "Monoton";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.form {
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form p {
  font-weight: bold;
  flex-shrink: initial;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 40px;
}

.form button,
select,
input {
  background-color: #faf0e6;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

button {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  text-transform: uppercase;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.packing {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 5rem 5rem 5rem 5rem;
}

.pack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 15px;
}

.stats {
  grid-column: span 12;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
